apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_item.name }}-cluster-secret
  namespace: {{ argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: {{ cluster_item.name }}
  server: {{ lookup('vars', cluster_item.name + '_url') }}
  config: |
    {
      "bearerToken": "{{ lookup('vars', cluster_item.name + '_token') }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ lookup('vars', cluster_item.name + '_ca_cert') }}"
      }
    }

